<!DOCTYPE html>
<html>
  <head>
    <title>Waiting</title>
    <link rel='stylesheet' href='/stylesheets/wait.css' />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lilita+One&display=swap" rel="stylesheet">
    <script src="/javascripts/wait.js" type="module"></script>
  </head>
  <body id="body">
    <h3>Waiting Players</h1>
      <div class="loading-container">
        <div class="loading-bar"></div>
      </div>
    <h5>Waiting !</h3>
    <section class="leaveSection">
      <a id="leave" class="leave">Quit</a>
    </section>
  </body>
</html>
